header .post-title{
	font-size: 30px;
	text-align: center;
	line-height: 1.3;
}	


/* Clases para la cabecera */
.site-header{
	background: #23A1DE;
}
.site-title{
	color: white !important;
}
.site-nav .page-link{
	color: white !important;
}

@media screen and (max-width: 580px) {
    .site-nav .page-link{
		color: black !important;
	}
}

.footer-col-2 {
    text-align: center;
}